@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Pacifico', cursive;
}
header{
	width: 100%;
	height: 100vh;
	background-color: #1a52f9;
	background-image: linear-gradient(19deg, #1a52f9 0%, #B721FF 84%);
	position: relative;

}
header:before{
	content: "";
	width: 520px;
	height: 550px;
	position: absolute;
	left: 0;
	bottom: 0;
	background-image: url(8.jpg);
	background-size: 100% 100%;
	border-radius: 50%;
}
@media(max-width: 991px){
	header:before{
		width: 180px;
		height: 220px;
		top: 180px;
	}
}
nav{
	width: 100%;
	height: 15vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: absolute;
}
.logo a{
color:white;
text-decoration: none;
font-size: 1.6rem;
font-family: 'Pacifico', cursive;
}
@media(max-width: 991px){
	.logo a{
		font-size:1.2rem;
	}
}
.menu ul li{
	list-style: none;
	display: inline-block;
	padding: 0 15px;
}

.menu ul li a{
	text-decoration: none;
	color: white;
	text-transform: capitalize;
	font-size: 15px;
}
@media(max-width: 991px){
	.menu ul li a{
		font-size:9px;
	}
}
.active, ul li:hover{
	border-top: 2px solid #5dade2;
	border-bottom: 2px solid #5dade2;
}
.contact a{
	text-decoration: none;
	color: white;
	background-color: #d465ef;
	font-style: 14px;
	font-weight: 500;
	border: 1px solid transparent;
	text-transform: capitalize;
}
.center_content{
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
@media(max-width: 991px){
	.center_content{
		top: 50%;
			left: 55%;
			}
	
}
.center_content h1{
	color: #fff;
	font-size: 50px;
	text-transform: capitalize;
	font-weight: 700;
	margin-bottom: 10px;
	z-index: 1;
}
@media(max-width: 991px){
	.center_content h1{
		font-size: 13px;
	},
	
}
.center_content h2{
	font-size: 25px;
	font-weight: 400;
	color: #fff;
	text-transform: capitalize;
}
@media(max-width: 991px){
	.center_content h2{
		font-size: 11px;
	},
	
}

.center_content h2:before{
	content: "";
	width: 80px;
	height: auto;
	border: 2px solid #fff;
	position: absolute;
	left: 90px;
	bottom: 0;
	margin-bottom: 20px;
}
@media(max-width: 991px){
	.center_content h2:before{
		width: 20px;
		left:10px;
		margin-bottom: 8px;
	}
	
}

.social_network{
	width: 100px;
	height: auto;
	position: absolute;
	right: 0;
	top: 40%;
}
@media(max-width: 991px){
	.social_network{
		left: 80%;
		top: 30%;
	}
}
.fa_icons{
	width: 40px;
	height: 40px;
	border-radius:50%;
	background: linear-gradient(to bottom,#615cfd 0%,#d465ef 100%);
	display: flex;
	justify-content: center;
	align-items: center;
}
.fa_icons:nth-child(even){
	margin: 20px 0;
}
.fa_icons:hover{
	background: linear-gradient(to bottom, 0%,#d465ef,#615cfd 100%);

}
